@model _CurriculumManagerSystem.Models.Chitiet_Chuong

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Chitiet_Chuong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="mactchuong" />
            <div class="form-group">
                <label asp-for="chiso" class="control-label"></label>
                <input asp-for="chiso" class="form-control" />
                <span asp-validation-for="chiso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tentieumuc" class="control-label"></label>
                <input asp-for="tentieumuc" class="form-control" />
                <span asp-validation-for="tentieumuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tuanhoc" class="control-label"></label>
                <input asp-for="tuanhoc" class="form-control" />
                <span asp-validation-for="tuanhoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thoiluonghoc" class="control-label"></label>
                <input asp-for="thoiluonghoc" class="form-control" />
                <span asp-validation-for="thoiluonghoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mact" class="control-label"></label>
                <input asp-for="mact" class="form-control" />
                <span asp-validation-for="mact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

