@model _CurriculumManagerSystem.Models.Chitietmonhoc
@using Microsoft.AspNetCore.Http;
@using System.Data;
<div class="body">
                <form class="form-horizontal" asp-action="CreateChitietmonhoc">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input hidden required asp-for="mahp" value=@Context.Session.GetInt32("idDecuong")>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label asp-for="tenchuong">Tên chương <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input required asp-for="tenchuong" class="form-control" placeholder="Tên chương"></input>
                                    <span asp-validation-for="tenchuong" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label asp-for="chiso">Chỉ số <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input required min="1" max="10" asp-for="chiso" class="form-control" placeholder="Chỉ số"></input>
                                    <span asp-validation-for="chiso" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label asp-for="tietlt">Số tiết lý thuyết <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input required min="10" max="30" asp-for="tietlt" class="form-control" placeholder="Số tiết lý thuyết"></input>
                                    <span asp-validation-for="tietlt" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label asp-for="tietth">Số tiết thực hành <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input required min="10" max="30" asp-for="tietth" class="form-control" placeholder="Số tiết thực hành"></input>
                                    <span asp-validation-for="tietth" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                            <a asp-action="Index" class="btn btn-default waves-effect">Trở lại</a> |
                            <button type="submit" class="btn btn-primary waves-effect">Tạo mới</button>
                        </div>
                    </div>
                </form>
            </div>