<h2>6. Cách thức đánh giá</h2>
<p>Kết quả học phần được tính theo thang điểm A+, A, B+,B, C+,C, D+, D, F và 
quy về thang điểm 4.</p>
<h2>Bảng 2. Điểm quy đổi giữa các hệ số</h2>
<table style="text-align: center;">
  <tr>
    <th rowspan="2">Điểm từng phần ( Hệ số 10)</th>
    <th colspan="2">Điểm quy đổi</th>
  </tr>
  <tr>
    <td>Điểm chữ</td>
    <td>Điểm số 4</td>
  </tr>
  <tr>
    <td>9,5 - 10</td>
    <td>A<sup>+</sup></td>
    <td>4,0</td>
  </tr>
  <tr>
    <td>8,5 - 9,5</td>
    <td>A</td>
    <td>3,8</td>
  </tr>
  <tr>
    <td>8,0 - 8,4</td>
    <td>B<sup>+</sup></td>
    <td>3,5</td>
  </tr>
  <tr>
    <td>7,0 - 7,9</td>
    <td>B</td>
    <td>3,O</td>
  </tr>
  <tr>
    <td>6,5 - 6,9</td>
    <td>C<sup>+</sup></td>
    <td>2,5</td>
  </tr>
  <tr>
    <td>5,5 - 6,4</td>
    <td>C</td>
    <td>2,0</td>
  </tr>
  <tr>
    <td>5,0 - 5,4</td>
    <td>D<sup>+</sup></td>
    <td>1,5</td>
  </tr>
  <tr>
    <td>4,0 - 4,9</td>
    <td>D</td>
    <td>1,0</td>
  </tr>
  <tr>
    <td>0,0 - 3,9</td>
    <td>F</td>
    <td>0,0</td>
  </tr>
</table>
<p>Điểm trung bình chung học kỳ và điểm trung bình chung tích lũy được tính 
theo công thức sau và được làm tròn đến 2 chữ số thập phân:</p> 
<img src="~/image/congthuc.jpg" alt="image">
<p>Trong đó: </p>
<ul>
    @* style="text-indent: 30px;" *@
    <li>A là điểm trung bình chung học kỳ và điểm trung bình chung tích lũy</li>
    <li>a<sub>i</sub> là điểm của học phần thứ i</li>
    <li>n<sub>i</sub> là số tín chỉ của học phần thứ i</li>
    <li>n là tổng số học phần</li>
</ul>
<p>Xếp loại tốt nghiệp được xác định theo điểm trung bình chung tích lũy của 
toàn khóa học như sau:</p>
<table style="text-align: center;">
    <tr>
        <th><b>Xếp loại tốt nghiệp</b></th>
        <th><b>Thang điểm hệ 4</b></th>
    </tr>
    <tr>
        <td>Xuất sắc</td>
        <td>3,60 đến 4,00</td>
    </tr>
    <tr>
        <td>Giỏi</td>
        <td>3,20 đến 3,59</td>
    </tr>
    <tr>
        <td>Khá</td>
        <td>2,50 đến 3,19</td>
    </tr>
    <tr>
        <td>Trung bình</td>
        <td>2,00 đến 2,49</td>
    </tr>
</table>