@model IEnumerable<_CurriculumManagerSystem.Models.DeCuongHinhthuc>
@{
    var i = 0;
}
<div class="body"> 
    <div class="body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        Thành phần đánh giá
                    </th>
                    <th>
                        Hình thức
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @item.Hinhthuc_Danhgia.thanhphan_danhgia
                        </td>
                        <td>@item.Hinhthuc_Danhgia.hinhthuc</td>
                            <td>
                            <a class="material-icons" data-type="confirm" asp-controller="DeCuongchiTiets"
                        asp-action="DeleteHinhthuc" asp-route-id="@item.dcht_id" onclick="return confirm('Bạn chắc chứ?')">delete_forever</a>
                        </td>
       
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>