@model _CurriculumManagerSystem.Models.CLOPhuongphapday

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CLOPhuongphapday</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="maloppday" />
            <div class="form-group">
                <label asp-for="mucdo" class="control-label"></label>
                <input asp-for="mucdo" class="form-control" />
                <span asp-validation-for="mucdo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mappday" class="control-label"></label>
                <select asp-for="mappday" class="form-control" asp-items="ViewBag.mappday"></select>
                <span asp-validation-for="mappday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="macdmon" class="control-label"></label>
                <select asp-for="macdmon" class="form-control" asp-items="ViewBag.macdmon"></select>
                <span asp-validation-for="macdmon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

