@model _CurriculumManagerSystem.Models.Thoigianhoc
@using Microsoft.AspNetCore.Http;
@using System.Data;
<div class="body">
    <form class="form-horizontal" asp-action="CreateThoigianhoc">
        @if(@Context.Session.GetInt32("MaThoigianhoc") != null)
        {
            <input type="hidden" value=@Context.Session.GetInt32("MaThoigianhoc") asp-for="matg" />
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="yeucauhocphan">Số tín chỉ tự chọn học kỳ <span class="text-danger"></span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        @* <textarea required asp-for="yeucauhocphan" class="form-control" placeholder="Yêu
                            cầu học phần"></textarea> *@
                        <input required type="text" asp-for="yeucauhocphan" class="form-control"
                            placeholder="Yêu cầu học phần">
                    </div>
                </div>
            </div>
        </div>
        <input hidden required asp-for="mahp" value=@Context.Session.GetInt32("idDecuong")>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="makh">Khóa học <span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">

                    <select required class="form-control show-tick" asp-for="makh" asp-items="ViewBag.makh">
                        <option selected="selected" value="" disabled>Vui lòng chọn một</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="makh">Học kì <span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">

                    <select required class="form-control show-tick" asp-for="mahk" asp-items="ViewBag.mahk">
                        <option selected="selected" value="" disabled>Vui lòng chọn một</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                <a asp-action="Index" class="btn btn-default waves-effect" style="margin-left: 82%;">Trở về trang chủ</a> |
                <input type="submit" class="btn btn-primary waves-effect" value="Tạo mới"></input>
            </div>
        </div>
    </form>
</div>