@model _CurriculumManagerSystem.Models.Chuandaura_monhoc
@using Microsoft.AspNetCore.Http;
@using System.Data;
<div class="body">
    <form class="form-horizontal" asp-action="CreateChuandauramonhoc">
        @if (@Context.Session.GetInt32("idChuandauramonhoc") != null)
        {
            <input type="hidden" value=@Context.Session.GetInt32("idChuandauramonhoc") asp-for="macdmon" />
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <input hidden required asp-for="mahp" value=@Context.Session.GetInt32("idDecuong")>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="loai"></label> <span class="text-danger">*</span>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input required asp-for="loai" class="form-control" placeholder="Loại"></input>
                        <span asp-validation-for="loai" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="chisocio"></label> <span class="text-danger">*</span>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input required asp-for="chisocio" class="form-control" placeholder="Chỉ số CIO"></input>
                        <span asp-validation-for="chisocio" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="noidung"></label> <span class="text-danger">*</span>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input required asp-for="noidung" class="form-control" placeholder="Nội dung"></input>
                        <span asp-validation-for="noidung" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="row clearfix">
            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                <a asp-action="Index" class="btn btn-default waves-effect" style="margin-left: 82%;">Trở về trang chủ</a> |
                <button type="submit" class="btn btn-primary waves-effect">Tạo mới</button>
            </div>
        </div>
    </form>
</div>