@model _CurriculumManagerSystem.Models.CLPO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CLPO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ngayupdate" class="control-label"></label>
                <input asp-for="ngayupdate" class="form-control" />
                <span asp-validation-for="ngayupdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="macdmon" class="control-label"></label>
                <select asp-for="macdmon" class ="form-control" asp-items="ViewBag.macdmon"></select>
            </div>
            <div class="form-group">
                <label asp-for="maplo" class="control-label"></label>
                <select asp-for="maplo" class ="form-control" asp-items="ViewBag.maplo"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

