@model IEnumerable<_CurriculumManagerSystem.Models.DeCuongNhiemvu>
    
@{
    var i = 0;
}
<div class="body">
    <div class="body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        Nội dung nhiệm vụ
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @item.NhiemvuSV.noidung
                        </td>
                        <td>
                             @if (ViewData["Title"] == "Create")
                        {
                          <a class="material-icons" data-type="confirm" asp-action="DeleteNhiemvu" 
                          asp-route-id="@item.dcnv_id" onclick="return confirm('Bạn chắc chứ?')">delete_forever</a>
                        }
                        else
                        {
                            <a class="material-icons" data-type="confirm" 
                            asp-action="DeleteNhiemvuEdit" asp-route-id="@item.dcnv_id" onclick="return confirm('Bạn chắc chứ?')">delete_forever</a>
                        }
                            
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>