@model _CurriculumManagerSystem.Models.Phuongphap_hoc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Phuongphap_hoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tenpp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tenpp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.mapphoc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
