@model _CurriculumManagerSystem.Models.MoiquanhePLO_Muctieudaotao
@using Microsoft.AspNetCore.Http;
@using System.Data;
<div class="body">
    <form class="form-horizontal" asp-action="CreatePLO_Muctieudaotao">
        @if (@Context.Session.GetInt32("Mamoiquanhe_plo_mt") != null)
        {
            <input type="hidden" value=@Context.Session.GetInt32("Mamoiquanhe_plo_mt") asp-for="ma_plo_mtdt" />
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label asp-for="ngay_update"></label> <span class="text-danger">*</span>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input required asp-for="ngay_update" class="form-control" placeholder="Ngày Update"></input>
                                    <span asp-validation-for="ngay_update" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label asp-for="maplo"></label> <span class="text-danger">*</span>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <select required class="form-control show-tick" asp-for="maplo"
                                    asp-items="ViewBag.maplo">
                                    <option>Vui lòng chọn một </option>
                                </select>
                            </div>
                        </div>
                    </div>
                     <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label asp-for="ma_mtdt">Chỉ số mục tiêu đào tạo</label> <span class="text-danger">*</span>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <select required class="form-control show-tick" asp-for="ma_mtdt"
                                    asp-items="ViewBag.ma_mtdt">
                                    <option>Vui lòng chọn một </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                            <a asp-action="Index" class="btn btn-default waves-effect" style="margin-left: 82%;">Trở về trang chủ</a> |
                            <button type="submit" class="btn btn-primary waves-effect">Tạo mới</button>
                        </div>
                    </div>
    </form>
</div>