@model _CurriculumManagerSystem.Models.Chuongtrinh_Daotao
@using Microsoft.AspNetCore.Http;
@using System.Data;
<div class="body">
    <form class="form-horizontal" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="maso_ctdt">Mã số<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input required asp-for="maso_ctdt" class="form-control"
                            placeholder="Mã số"></input>
                        <span asp-validation-for="maso_ctdt" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="nganh_daotao">Ngành đào tạo<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input required asp-for="nganh_daotao" class="form-control"
                            placeholder="Nghành đào tạo"></input>
                        <span asp-validation-for="nganh_daotao" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="trinhdo_daotao">Trình độ đào tạo<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input required asp-for="trinhdo_daotao" class="form-control"
                            placeholder="Trình độ"></input>
                        <span asp-validation-for="trinhdo_daotao" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="loaihinh_daotao">Loại hình đào tạo<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input required asp-for="loaihinh_daotao" class="form-control"
                            placeholder="Loại hình"></input>
                        <span asp-validation-for="loaihinh_daotao" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="thoigian_daotao">Thời gian đào tạo<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input required asp-for="thoigian_daotao" class="form-control"
                            placeholder="Thời gian"></input>
                        <span asp-validation-for="thoigian_daotao" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="tenvanbang">Tên văn bằng<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input required asp-for="tenvanbang" class="form-control"
                            placeholder="Tên văn bằng"></input>
                        <span asp-validation-for="tenvanbang" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="noidaotao">Nơi đào tạo<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input required asp-for="noidaotao" class="form-control"
                            placeholder="Nơi đào tạo"></input>
                        <span asp-validation-for="noidaotao" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="noidung_ctdt">Nội dung đào tạo<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input asp-for="noidung_ctdt" class="form-control"
                            placeholder="Nội dung đào tạo"></input>
                        <span asp-validation-for="noidung_ctdt" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                <a asp-action="Index" class="btn btn-default waves-effect">Trở lại</a> |
                <button type="submit" class="btn btn-primary waves-effect">Tạo mới</button>
            </div>
        </div>
    </form>
</div>