@model _CurriculumManagerSystem.Models.DeCuongHinhthuc

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DeCuongHinhthuc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="dcht_id" />
            <div class="form-group">
                <label asp-for="mahp" class="control-label"></label>
                <select asp-for="mahp" class="form-control" asp-items="ViewBag.mahp"></select>
                <span asp-validation-for="mahp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mahtdg" class="control-label"></label>
                <select asp-for="mahtdg" class="form-control" asp-items="ViewBag.mahtdg"></select>
                <span asp-validation-for="mahtdg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

