@using Microsoft.AspNetCore.Http;
@using System.Data;
@{
    ViewData["Title"] = "Create";

}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2 class="titile-table">TẠO MỚI CHƯƠNG TRÌNH ĐÀO TẠO</h2>
            </div>
            <div class="body">
                <!-- Nav tabs -->
                <ul id="myTab" class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a role="tab" href="#chuongtrinhdaotao" data-toggle="tab">CHƯƠNG TRÌNH ĐÀO TẠO</a></li>
                    <li role="presentation"><a role="tab" href="#decuong_chuongtrinh" data-toggle="tab">CÁC HỌC PHẦN TRONG CHƯƠNG TRÌNH ĐÀO TẠO</a></li>
                    <li role="presentation"><a role="tab" href="#decuongquytrinh" data-toggle="tab">QUY TRÌNH ĐÀO TẠO, ĐIỀU KIỆN TỐT NGHIỆP</a></li>
                    <li role="presentation"><a role="tab" href="#chitietdoituong" data-toggle="tab">ĐỐI TƯỢNG TUYỂN SINH</a></li>
                    <li role="presentation"><a role="tab" href="#plo_muctieudaotao" data-toggle="tab">MỐI QUAN HỆ PLO VÀ MỤC TIÊU ĐÀO TẠO</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="chuongtrinhdaotao">
                         @await Component.InvokeAsync("Create_CTDT_chuongtrinhdaotao", new { id = 0})
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="decuong_chuongtrinh">
                         @await Component.InvokeAsync("Create_CTDT_decuong_chuongtrinhdaotao", new { id = 0})
                         @if (@Context.Session.GetInt32("id_ctdt_ss_create") == null)
                        {
                            @await Component.InvokeAsync("Get_CTDT_decuong_chuongtrinh", new { id = 0})
                        }
                        else
                        {
                            @await Component.InvokeAsync("Get_CTDT_decuong_chuongtrinh", new {id = @Context.Session.GetInt32("id_ctdt_ss_create")})
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="decuongquytrinh">
                         @await Component.InvokeAsync("Create_CTDT_decuongquytrinh", new { id = 0})
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="chitietdoituong">
                          
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="plo_muctieudaotao">
                       
                    </div>
               
                   
                </div>
            </div>
        </div>
    </div>
</div>
@* @model _CurriculumManagerSystem.Models.Chuongtrinh_Daotao

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Chuongtrinh_Daotao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nganh_daotao" class="control-label"></label>
                <input asp-for="nganh_daotao" class="form-control" />
                <span asp-validation-for="nganh_daotao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trinhdo_daotao" class="control-label"></label>
                <input asp-for="trinhdo_daotao" class="form-control" />
                <span asp-validation-for="trinhdo_daotao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loaihinh_daotao" class="control-label"></label>
                <input asp-for="loaihinh_daotao" class="form-control" />
                <span asp-validation-for="loaihinh_daotao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thoigian_daotao" class="control-label"></label>
                <input asp-for="thoigian_daotao" class="form-control" />
                <span asp-validation-for="thoigian_daotao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tenvanbang" class="control-label"></label>
                <input asp-for="tenvanbang" class="form-control" />
                <span asp-validation-for="tenvanbang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="noidaotao" class="control-label"></label>
                <input asp-for="noidaotao" class="form-control" />
                <span asp-validation-for="noidaotao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
 *@
