@model _CurriculumManagerSystem.Models.Chuongtrinh_Daotao

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Chuongtrinh_Daotao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ma_ctdt" />
            <div class="form-group">
                <label asp-for="nganh_daotao" class="control-label"></label>
                <input asp-for="nganh_daotao" class="form-control" />
                <span asp-validation-for="nganh_daotao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trinhdo_daotao" class="control-label"></label>
                <input asp-for="trinhdo_daotao" class="form-control" />
                <span asp-validation-for="trinhdo_daotao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loaihinh_daotao" class="control-label"></label>
                <input asp-for="loaihinh_daotao" class="form-control" />
                <span asp-validation-for="loaihinh_daotao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thoigian_daotao" class="control-label"></label>
                <input asp-for="thoigian_daotao" class="form-control" />
                <span asp-validation-for="thoigian_daotao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tenvanbang" class="control-label"></label>
                <input asp-for="tenvanbang" class="form-control" />
                <span asp-validation-for="tenvanbang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="noidaotao" class="control-label"></label>
                <input asp-for="noidaotao" class="form-control" />
                <span asp-validation-for="noidaotao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

