@* @model _CurriculumManagerSystem.Models.Phutrach
@using Microsoft.AspNetCore.Http;
@using System.Data;
<div class="body">
                <form class="form-horizontal" asp-action="EditPhutrach">
                     @if (@Context.Session.GetInt32("id_edit_pt") != null)
        {
            <input type="hidden" value=@Context.Session.GetInt32("id_edit_pt") asp-for="mapt" />
        }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label asp-for="magv"> </label><span class="text-danger">*</span>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <select required class="form-control show-tick" asp-for="magv" asp-items="ViewBag.magv">
                                    <option selected="selected" value="" disabled>Vui lòng chọn một </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                          <label asp-for="vaitro">Vai trò <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <select required class="form-control show-tick" asp-for="vaitro">
                                    <option selected="selected" value="" disabled>Vui lòng chọn một</option>
                                    <option>Người phụ trách</option>
                                    <option>Giảng viên tham gia giảng dạy cùng</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <input hidden required asp-for="mahp" value=@Context.Session.GetInt32("id_edit_dccht_after")>
                    <div class="row clearfix">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                            <a asp-action="Index" class="btn btn-default waves-effect">Trở lại</a> |
                            <button type="submit" class="btn btn-primary waves-effect">Tạo mới</button>
                        </div>
                    </div>
                </form>
            </div> *@