@model IEnumerable<_CurriculumManagerSystem.Models.Decuong_Chuongtrinh>

@{
    //int stt = 0;
    int tong_tc = 0;
   // int tong_sotiet_lt = 0;
   // int tong_sotiet_th = 0;
    int tongcong_tc = 0;
    int tongcong_bb = 0;
    int tongcong_tuchon = 0;
    string tuchon = "";
   // string luanvan = "Luận văn tốt nghiệp";
    List<int> list_check = new List<int>();
}
<h2>3. Khối lượng kiến thức toàn khóa</h2>
@foreach (var dulieu_kkt in ((List<Decuong_Chuongtrinh>)TempData["listData"]).GroupBy(x =>
x.DeCuongchiTiet.Khoikienthuc.kkt_ten))
{
    @foreach (var dulieu_decuong in ((List<Decuong_Chuongtrinh>)TempData["listData"]).Where(x =>
    x.DeCuongchiTiet.Khoikienthuc.kkt_ten == dulieu_kkt.Key && x.DeCuongchiTiet.yeucau_hocphan == "Bắt buộc"))
    {
        tong_tc = dulieu_decuong.DeCuongchiTiet.sotc_lt + dulieu_decuong.DeCuongchiTiet.sotc_th;
        if(dulieu_decuong.DeCuongchiTiet.yeucaukhacvoi_hocphan != "*")
        {
            tongcong_tc += tong_tc;
            tongcong_bb += tong_tc;
        }
    }
    @foreach (var dulieu_decuong in ((List<Decuong_Chuongtrinh>)TempData["listData"]).Where(x => x.DeCuongchiTiet.Khoikienthuc.kkt_ten == dulieu_kkt.Key 
        && x.DeCuongchiTiet.yeucau_hocphan == "Tự chọn"))
    {
        tong_tc = dulieu_decuong.DeCuongchiTiet.sotc_lt + dulieu_decuong.DeCuongchiTiet.sotc_th;
        if(dulieu_decuong.DeCuongchiTiet.yeucau_hocphan != tuchon)
        {
            tuchon = dulieu_decuong.DeCuongchiTiet.yeucau_hocphan;
            
            @foreach (var dulieu_thoigianhoc in @ViewBag.listtgh)
            {
                if(dulieu_thoigianhoc.mahp == dulieu_decuong.DeCuongchiTiet.mahp && !list_check.Contains(dulieu_thoigianhoc.mahk))
                {
                    int tranfer = int.Parse(dulieu_thoigianhoc.yeucauhocphan);
                    tongcong_tuchon += tranfer;
                    list_check.Add(dulieu_thoigianhoc.mahk);
                }
            }
            tongcong_tc += tong_tc;
        }
        else
        {
            tongcong_tc += tong_tc;
            @foreach (var dulieu_thoigianhoc in @ViewBag.listtgh)
            {
                if(dulieu_thoigianhoc.mahp == dulieu_decuong.DeCuongchiTiet.mahp && !list_check.Contains(dulieu_thoigianhoc.mahk))
                {
                    int tranfer = int.Parse(dulieu_thoigianhoc.yeucauhocphan);
                    tongcong_tuchon += tranfer;
                    list_check.Add(dulieu_thoigianhoc.mahk);
                }
            }
        }
    }
    tongcong_tc = tongcong_bb + tongcong_tuchon;
}

                        
<p>Tổng số tín chỉ: @tongcong_tc tín chỉ</p>
<p>Trong đó:</p>
<p>
    - Tổng số tín chỉ bắt buộc: @tongcong_bb tín chỉ <br />
    - Tổng số tín chỉ tự chọn: @tongcong_tuchon tín chỉ
</p>
                       
                   