<div class="content_item">
        <h2>5. Quy trình đào tạo, điều kiện tốt nghiệp</h2>
        <p>
          - Tích lũy đủ học phần và số tín chỉ quy định trong chương trình đào tạo.
        </p>
        <p>
          - Điểm trung bình chung của các học phần đạt từ 2,0 trở lên.
        </p>
        <p>
          - Đạt chứng chỉ ngoại ngữ theo quy định hiện hành.
        </p>
        <p>
          - Không bị truy cứu trách nhiệm hình sự, không bị kỷ luật ở mức đình chỉ học tập trong năm học cuối.
        </p>
</div>