@{
    ViewData["Title"] = "Home Page";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="home-background">
             <img src="~/Templates/images/bg4.png" style="background-image: url('~/Templates/images/bg4.png');" />
            </div>
        </div>
    </div>
</div>
    
