@model _CurriculumManagerSystem.Models.Bomon

@{
    ViewData["Title"] = "Create";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h3 class="titile-table">
                    Bộ môn
                </h3>
            </div>
            <div class="body">
                <form class="form-horizontal" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label asp-for="tenbm">Tên bộ môn<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input asp-for="tenbm" class="form-control" placeholder="Tên bộ môn"></input>
                                    <span asp-validation-for="tenbm" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label asp-for="makh">Tên khoa <span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <select required class="form-control show-tick" asp-for="makh"
                                                asp-items="ViewBag.makh">
                                                <option selected="selected" value="" disabled>Vui lòng chọn một </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                    <div class="row clearfix">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                            <a asp-action="Index" class="btn btn-default waves-effect">Trở lại</a> |
                            <button type="submit" class="btn btn-primary waves-effect">Tạo mới</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@* 
<h1>Create</h1>

<h4>Bomon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tenbm" class="control-label"></label>
                <input asp-for="tenbm" class="form-control" />
                <span asp-validation-for="tenbm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="makh" class="control-label"></label>
                <select asp-for="makh" class ="form-control" asp-items="ViewBag.makh"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

