@model List<NhiemvuSV>
<div class="body">
                <form class="form-horizontal" asp-action="createListNV">
                    <table class="table  table-sm">
                        <div class="row clearfix">
                            <thead class="table-info">
                                <tr style="background-color: #84c7c1; color: black;">
                                    <th>Lựa chọn</th>
                                    <th>Nội dung nhiệm vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" value="@item.manv" name="arrayDCNV" id="@item.manv">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>@item.noidung</td>
                                    </tr>
                                }
                            </tbody>
                        </div>

                    </table>
                    <div class="row clearfix">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                            <a asp-action="Index" class="btn btn-default waves-effect">Trở lại</a> |
                            <button type="submit" class="btn btn-primary waves-effect">Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
@* @model _CurriculumManagerSystem.Models.DeCuongNhiemvu
@using Microsoft.AspNetCore.Http;
@using System.Data;
<div class="body">
    <form class="form-horizontal" asp-action="CreateDecuongnhiemvu">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <input hidden required asp-for="mahp" value=@Context.Session.GetInt32("idDecuong")>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="manv"> </label><span class="text-danger">*</span>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <select required class="form-control show-tick" asp-for="manv" asp-items="ViewBag.manv">
                        <option>Vui lòng chọn một </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                <a asp-action="Index" class="btn btn-default waves-effect">Trở lại</a> |
                <button type="submit" class="btn btn-primary waves-effect">Tạo mới</button>
            </div>
        </div>
    </form>
</div> *@