@model _CurriculumManagerSystem.Models.Muctieu
@using Microsoft.AspNetCore.Http;
@using System.Data;
@{
    ViewData["Title"] = "Edit";
}
<div class="body">
    <form class="form-horizontal" asp-action="Edit_Muctieu">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if(@Context.Session.GetInt32("MaMuctieu") != null)
        {
            <input type="hidden" value=@Context.Session.GetInt32("MaMuctieu") asp-for="mamt" />
        }
        <input type="hidden" required asp-for="mahp" value=@Context.Session.GetInt32("id_edit_dccht_after") />
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="noidung">Nội dung <span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input required asp-for="noidung" class="form-control" placeholder="Nội dung"></input>
                        <span asp-validation-for="noidung" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="mtchinh">Mục tiêu chính <span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input required asp-for="mtchinh" class="form-control" placeholder="Mục tiêu chính"></input>
                        <span asp-validation-for="mtchinh" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="mtphu">Mục tiêu phụ <span class="text-danger"></span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input asp-for="mtphu" class="form-control" placeholder="Mục tiêu phụ"></input>
                        <span asp-validation-for="mtphu" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                <a asp-action="Index" class="btn btn-default waves-effect" style="margin-left: 83.5%;">Trở về trang chủ</a> |
                <button type="submit" class="btn btn-primary waves-effect">Lưu</button>
            </div>
        </div>
    </form>
</div>