@model _CurriculumManagerSystem.Models.Chitiet_Chuong
@using Microsoft.AspNetCore.Http;
@using System.Data;
<div class="body">
    <form class="form-horizontal" asp-action="CreateChitietchuong">
        @* @if (@Context.Session.GetInt32("idChitietchuong") != null)
        {
            <input type="hidden" value=@Context.Session.GetInt32("idChitietchuong") asp-for="mactchuong" />
        } *@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="mact">Chi tiết môn học <span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <select required class="form-control show-tick" asp-for="mact" asp-items="ViewBag.mact">
                        <option>Vui lòng chọn một </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="tentieumuc">Tên tiểu mục <span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input required asp-for="tentieumuc" class="form-control" placeholder="Tên tiểu mục"></input>
                        <span asp-validation-for="tentieumuc" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="chiso">Chỉ số <span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input min="1" max="30" required asp-for="chiso" class="form-control"
                            placeholder="Chỉ số"></input>
                        <span asp-validation-for="chiso" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="tuanhoc">Tuần học <span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input min="1" max="40" required asp-for="tuanhoc" class="form-control"
                            placeholder="Tuần học"></input>
                        <span asp-validation-for="tuanhoc" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label asp-for="thoiluonghoc">Thời lượng học <span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input required min="1" max="30" asp-for="thoiluonghoc" class="form-control"
                            placeholder="Thời lượng học"></input>
                        <span asp-validation-for="thoiluonghoc" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                <a asp-action="Index" class="btn btn-default waves-effect">Trở lại</a> |
                <button type="submit" class="btn btn-primary waves-effect">Tạo mới</button>
            </div>
        </div>
    </form>
</div>