@model _CurriculumManagerSystem.Models.Thoigianhoc

@{
    ViewData["Title"] = "Create";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h3 class="titile-table">
                    TẠO MỚI THỜI GIAN HỌC 
                </h3>
            </div>
            <div class="body">
                <form class="form-horizontal" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label asp-for="yeucauhocphan">Yêu cầu học phần <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    @* <textarea required asp-for="yeucauhocphan" class="form-control" placeholder="Yêu
                                        cầu học phần"></textarea> *@
                                    <input required type="text" asp-for="yeucauhocphan" class="form-control"
                                        placeholder="Yêu cầu học phần">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label asp-for="mahp">Đề cương chi tiết <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">

                                <select required class="form-control show-tick" asp-for="mahp" asp-items="ViewBag.mahp">
                                    <option>Vui lòng chọn một </option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label asp-for="makh">Khóa học <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">

                                <select required class="form-control show-tick" asp-for="makh" asp-items="ViewBag.makh">
                                    <option>Vui lòng chọn một</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label asp-for="makh">Học kì <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">

                                <select required class="form-control show-tick" asp-for="mahk" asp-items="ViewBag.mahk">
                                    <option>Vui lòng chọn một</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                            <a asp-action="Index" class="btn btn-default waves-effect">Trở lại</a> |
                             <input type="submit" class="btn btn-primary waves-effect" value="Tạo mới"></input>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@* <div class="container-fluid">
    <div class="row justify-content-center">
    <div class="col-lg-12">
    <div class="card">
    <div class="card-body">
    <h3 class="card-title">Tạo thời gian học</h3>
    <hr />
    <div class="form-validation">
    <form asp-action="Create" class="form-valide">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
    <label asp-for="yeucauhocphan" class="col-lg-4 col-form-label" for="val-suggestions">Yêu cầu học phần<span
    class="text-danger">*</span>
    </label>
    <div class="col-lg-6">
    <textarea asp-for="yeucauhocphan" class="form-control" placeholder="Yêu cầu học phần"></textarea>
    </div>
    </div>
    <div class="form-group row">
    <label asp-for="mahp" class="col-lg-4 col-form-label" for="val-skill">Mã đề cương chi tiết<span
    class="text-danger">*</span>
    </label>
    <div class="col-lg-6">
    <select asp-for="mahp" class="form-control" asp-items="ViewBag.mahp"></select>
    </div>
    </div>
    <div class="form-group row">
    <label asp-for="makh" class="col-lg-4 col-form-label" for="val-skill">Mã khóa học<span class="text-danger">*</span>
    </label>
    <div class="col-lg-6">
    <select asp-for="makh" class="form-control" asp-items="ViewBag.makh"></select>
    </div>
    </div>
    <div class="form-group row">
    <label asp-for="mahk" class="col-lg-4 col-form-label" for="val-skill">Mã học kỳ<span class="text-danger">*</span>
    </label>
    <div class="col-lg-6">
    <select asp-for="mahk" class="form-control" asp-items="ViewBag.mahk"></select>
    </div>
    </div>
    <div class="form-group row">
    <div class="col-lg-8 ml-auto">
    <a asp-action="Index">Trở lại</a> |
    <input type="submit" class="btn btn-primary" value="Tạo"></input>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div> *@
@*
    <div class="row">
    <div class="col-md-4">
    <form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
    <label asp-for="yeucauhocphan" class="control-label"></label>
    <input asp-for="yeucauhocphan" class="form-control" />
    <span asp-validation-for="yeucauhocphan" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="mahp" class="control-label"></label>
    <select asp-for="mahp" class="form-control" asp-items="ViewBag.mahp"></select>
    <span asp-validation-for="mahp" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="makh" class="control-label"></label>
    <input asp-for="makh" class="form-control" />
    <span asp-validation-for="makh" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="mahk" class="control-label"></label>
    <input asp-for="mahk" class="form-control" />
    <span asp-validation-for="mahk" class="text-danger"></span>
    </div>
    <div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    </form>
    </div>
    </div>

    <div>
    <a asp-action="Index">Back to List</a>
    </div> *@