@model _CurriculumManagerSystem.Models.DecuongTailieu

@{
    ViewData["Title"] = "Edit";
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h3 class="titile-table">
                    CẬP NHẬT ĐỀ CƯƠNG TÀI LIỆU
                </h3>
            </div>
            <div class="body">
                <form class="form-horizontal" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="dctl_id" />
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label asp-for="mahp"> </label><span class="text-danger">*</span>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <select required class="form-control show-tick" asp-for="mahp" asp-items="ViewBag.mahp">
                                    @* <option>Vui lòng chọn một</option> *@
                                </select>
                            </div>
                        </div>
                    </div>
                     <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label asp-for="matl"> </label><span class="text-danger">*</span>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <select required class="form-control show-tick" asp-for="matl" asp-items="ViewBag.matl">
                                    @* <option>Vui lòng chọn một</option> *@
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                            <a asp-action="Index" class="btn btn-default waves-effect">Trở lại</a> |
                            <input type="submit" class="btn btn-primary waves-effect" value="Sửa"></input>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@* <h1>Edit</h1>

<h4>DecuongTailieu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="dctl_id" />
            <div class="form-group">
                <label asp-for="mahp" class="control-label"></label>
                <select asp-for="mahp" class="form-control" asp-items="ViewBag.mahp"></select>
                <span asp-validation-for="mahp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="matl" class="control-label"></label>
                <select asp-for="matl" class="form-control" asp-items="ViewBag.matl"></select>
                <span asp-validation-for="matl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@
